# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# VS Code / IDEs
.vscode/
.idea/

# MacOS
.DS_Store

# PyTorch Lightning or similar logs
lightning_logs/
